FSC_APP/FSC_APP/Web References/localhost/FSCServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getProject">
        <s:complexType />
      </s:element>
      <s:element name="getProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getProjectResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getProjectSoapIn">
    <wsdl:part name="parameters" element="tns:getProject" />
  </wsdl:message>
  <wsdl:message name="getProjectSoapOut">
    <wsdl:part name="parameters" element="tns:getProjectResponse" />
  </wsdl:message>
  <wsdl:portType name="FSCServicesSoap">
    <wsdl:operation name="getProject">
      <wsdl:input message="tns:getProjectSoapIn" />
      <wsdl:output message="tns:getProjectSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FSCServicesSoap" type="tns:FSCServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getProject">
      <soap:operation soapAction="http://tempuri.org/getProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FSCServicesSoap12" type="tns:FSCServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getProject">
      <soap12:operation soapAction="http://tempuri.org/getProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FSCServices">
    <wsdl:port name="FSCServicesSoap" binding="tns:FSCServicesSoap">
      <soap:address location="http://localhost/FSC/Services/FSCServices.asmx" />
    </wsdl:port>
    <wsdl:port name="FSCServicesSoap12" binding="tns:FSCServicesSoap12">
      <soap12:address location="http://localhost/FSC/Services/FSCServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>